# Игнорировать все файлы в директории tmp/
tmp/
# Игнорировать все файлы с окончанием _old
*_old
# Игнорировать все файлы с окончанием _backup
*_backup
# Игнорировать файл Thumbs.bd
Thumbs.bd
# Игнорировать файл .DS__Store
.DS_Store

